#root {
  width: 100%;
  min-height: 100vh;
}

body {
  background: #2E4057;
}

* {
  margin: 0;
  color: white;

}

label {
  font-weight: bold;
  margin-top: 2vh;
  margin-right: 2vw;
}

.rounded-input {
  border-radius: 12px;
  padding: 10px;
}

.white-bg {
  background-color: #eee;
  color: #2E4057
}

.spaced {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

.spaced label {
  width: 100px;
}

.title {
  margin: 30px 20px;
  text-align: center;
}

.transparent {
  color: transparent;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-switch {
  display: flex;
  margin: 15px auto;
  width: auto;
}

.form-switch p {
  margin-right: 5px;
}

nav {
  max-width: 100%;
  height: 10vh;
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #F0A433;
}

nav div {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


nav h1 {
  color: white;
  vertical-align: middle;
  height: fit-content;
  margin-left: 10px;
}


.main-body {

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  min-height: 100vh;
}



.center {
  width: 100%;
  display: flex;
  justify-content: center;
  /*border: 1px red solid; */
}

.footer {

  bottom: 0;
  display: flex;
  align-items: center;
  padding: 15px;
  height: 5vh;
  width: 90vw;
}

.submit {
  margin: 2vh auto;
  width: 250px;

}

.itemList {
  display: flex;
  width: 75vw;
  min-height: 50vh;

  padding-top: 20px;

  flex-wrap: wrap;
}

.item {

  width: 20vw;
  height: 50vh;
  background-color: white;
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
}

.item:hover {
  transform: scale(110%);
  transition: transform 0.25s cubic-bezier(.25, .8, .25, 1);
}

.item * {
  color: black;
}

.column {
  width: 50vw;
  background-color: wheat;
  padding: 30px;
  border-radius: 10px;
  border: 3px rgb(233, 226, 160) solid;
}

.column * {
  color: black;
}

.home {
  background-image: url("/src/assets/ferreteria.jpg");
  background-blend-mode: soft-light;
  background-size: contain;
}